.promo {
	position: relative;
	padding-top: 206px;
	background: url('../img/main_bg.jpg') no-repeat 50%/cover;
	height: 100vh;
	&__title {
		margin-top: 10px;
		width: 530px;
	}
	&__subtitle {
		position: relative;
		margin-left: 10px;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			@include circle;
			top: -7px;
			left: -12px;
		}
	}
	&__btn {
		width: 250px;
		margin-top: 37px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link {
		font-weight: 700;
		font-size: 14px;
		color: #000000;
		&:hover {
			text-decoration: none;
			color: #000000;
		}
	}
}