.skills {
	&__item {
		padding-left: 60px;
		position: relative;
		svg {
			position: absolute;
			top: 15px;
			left: 15px;
		}
		@include circle;
		&::before {
			transform: none;
			top: 0;
			left: 0;
		}
	}

}