.title {
    font-weight: 700;
    color: #000000;
    &__fs12 {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
    }
    &__fs14 {
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
    }
    &__fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &__fs36 {
        font-size: 36px;
        line-height: 60px;
    }
    &__fs48 {
        font-size: 48px;
        line-height: 60px;
    }
    &__title {
		margin-top: 6px;
		text-align: center;
	}
	&__subtitle {
		margin-top: 6px;
		text-align: center;
	}
	&__divider {
		margin: 25px auto 60px auto;
	}
}
h3.title {
    font-weight: 700; 
}